* {
    box-sizing: border-box;
}

body {
    background-color: white;
    height: 839px;
}

.jogo {
    position: relative;

}

img {
    height: 467px;
    width: 400px;
    position: absolute;
    top: 59px;
    left: 38px;
}

.escolherJogo {
    background-color: #27AE60;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 89px;
    left: 772px;
    height: 60px;
    width: 200px;
    border-radius: 8px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: white;

}

.alfabeto {
    display: flex;
    position: absolute;
    top: 596px;
    left: 211px;
    flex-wrap: wrap;
    width: 684px;
}

.caixinhaLetras {
    height: 40px;
    width: 40px;
    border-radius: 3px;
    background-color: #798A9F;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #9FAAB5;
    margin-right: 12px;
    margin-bottom: 12px;
}

input {
    position: absolute;
    height: 40px;
    width: 353px;
    left: 387px;
    top: 743px;
    border-radius: 3px;
}

.texto {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    position: absolute;
    left:231px;
    top: 751px;

}